body {
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    margin: 0;
    background-image: url('./../img/5_background/body.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Creepster';
}

.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 15px;
    color: #FFDF00;
    font-size: 60px;
    z-index: 1;
}

canvas {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.button {
    width: 720px;
    height: 50px;
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
    background-color: #994409;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #FFDF00;
    border-radius: 20px;
}

button img{
    height: 30px;
    width: 30px;
}

.steering{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.action{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.config{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.config img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#configGame{
    display: none;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: calc(50vh - 190px);
    width: 100%;
}

#configGame img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#landscape {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: white;
    color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    height: 480px;
    width: 720px;
    background-image: url('./../img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

.newGame button{
    position: absolute;
    top: 20px;
    border: none;
    background: none;
    background-color: #FFA300;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Creepster';
    font-size: 25px;
}

.newGame button:hover{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.300);
}

.newGame .control{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    gap: 50px;
    color: #FFDF00;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
}

#startscreen{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
}

#startscreen img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.letsPlay{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    color: #FFDF00;
    font-size: 44px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.letsPlay:hover{
    color: #FFA300;
    font-size: 42px;
}

@media (max-width: 1000px){
    canvas {
        border-radius: 0;
        height: calc(100vh - 50px);
        width: 100vw;
    }
    
    .newGame{
        height: 100vh;
        width: 100vw;
    }

    .button {
        display: flex;
    }

    h1 {
        display: none;
    }

    .newGame .control{
        display: none;
    }
}

@media (max-height: 725px){
    h1 {
        display: none;
    }
}

@media (max-height: 500px){
    h1 {
        display: none;
    }

    canvas {
        border-radius: 0;
        height: calc(100vh - 50px);
        width: 100vw;
        max-width: 950px;
    }
    
    .newGame{
        height: 100vh;
        width: 100vw;
    }

    .button {
        display: flex;
    }

    h1 {
        display: none;
    }

    .newGame .control{
        display: none;
    }
}