body {
    display: flex;
    flex-direction: column;
    align-items: center;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
    margin: 0;
    background-image: url('./../img/5_background/body.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Creepster';
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8f312f;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F9C05F;
}

.mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 15px;
    color: #FFDF00;
    font-size: 60px;
    z-index: 1;
}

canvas {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.500);
}

.button {
    width: 720px;
    height: 70px;
    display: none;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
    background-color: #994409;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #FFDF00;
    border-radius: 30px;
}

button img {
    height: 40px;
    width: 40px;
}

.steering {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
}

.action {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.config {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.config img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#configGame {
    display: none;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: calc(50vh - 190px);
    width: 100%;
}

#configGame img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#landscape {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: rgb(255, 255, 255);
    color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.privateImpressum{
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99000;
    background-color: rgb(255 247 0);
    color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
    max-width: 1440px;
    max-height: 728px;
    border-radius: 20px;
}

.privateImpressum h1 {
    color: #000000;
    font-size: 60px;
    padding: unset;
    margin: unset;
    position: unset;
}

.privateImpressum .keyCloseButton {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    font-size: 24px;
}

#showScreenText{
    width: 90%;
    height: 85%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
}

#controlsInGame {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 99000;
    background-color: rgb(185, 173, 0);
    color: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 24px;
    transition: all 0.5s ease-in-out;
}

#showScreens{
    width: 720px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
    position: absolute;
    top: 20px;
}

#controlsInGame .keyCloseButton {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    font-size: 24px;
}

.newGame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 20px;
    height: 480px;
    width: 720px;
    background-image: url('./../img/9_intro_outro_screens/start/startscreen_1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
}

#headline{
    display: none;
}
.newGame button {
    top: 20px;
    border: none;
    background: none;
    background-color: #FFA300;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Creepster';
    font-size: 25px;
}

.newGame button:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.300);
}

.newGame .control {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80px;
    gap: 50px;
    color: #FFDF00;
    font-size: 28px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
}

#startscreen {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    max-width: 1440px;
    max-height: 728px;
}

#startscreen img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.letsPlay {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    color: #FFDF00;
    font-size: 44px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.500);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.letsPlay:hover {
    color: #FFA300;
    font-size: 42px;
}

@media (max-width: 1400px) {
    canvas {
        border-radius: 0;
        height: calc(100vh - 70px);
        width: 100vw !important;
        max-width: 950px;
        max-height: 580px !important;
    }

    .newGame {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .button {
        display: flex;
        width: 100vw;
        max-width: 950px;
    }

    h1 {
        display: none;
    }

    .newGame .control {
        display: none;
    }

    #configGame {
        top: calc(50vh - 35%);
    }

    .privateImpressum{
        border-radius: unset;
    }
}

@media (max-height: 1030px){
    #configGame {
        top: calc(50vh - 23%);
    }
}

@media (max-height: 860px){
    #configGame {
        top: calc(50vh - 30%);
    }
}

@media (max-height: 725px) {
    h1 {
        display: none;
    }

    #configGame {
        top: calc(50vh - 40%);
    }
}

@media (max-height: 500px) {
    h1 {
        display: none;
    }
    #showScreens{
        width: 100vw;
    }

    canvas {
        border-radius: 0;
        height: calc(100vh - 70px);
        width: 100vw;
        max-width: 950px;
    }

    .newGame {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .button {
        display: flex;
        width: 100vw;
        max-width: 950px;
    }

    h1 {
        display: none;
    }

    .newGame .control {
        display: none;
    }

    #configGame {
        top: calc(50vh - 40%);
    }
}